@import "vars";
@import "fonts";
@import "global";

.banner{
    background: url(../images/banner-bg.jpg) no-repeat center;
    background-size: cover;
    &__wrapper{
        padding: 50px 0 100px;
    }
    &__title{
        font-size: 48px;
        line-height: 56px;
        @extend %roboto-bold;
        color: rgb(255, 255, 255);
        text-transform: uppercase;
        margin-bottom: 20px;
        @media screen and (max-width: 675px){
            font-size: 30px;
            line-height: 48px;
            text-align: center;
        } 
        @media screen and (max-width: 370px){
            font-size: 24px;
        } 
    }
    &__items{
        display: flex;
        justify-content: space-around;
        margin-top: 70px;
        text-align: center;
        @media screen and (max-width: 675px){
            flex-direction: column;
            align-items: center;
            margin-top: 0;
        }
    }
    &__item{
        @media screen and (max-width: 675px){
            border-top: 1px solid #ccc;
            padding: 25px 0;
            width: 276px;
        }
        &:last-child{
            @media screen and (max-width: 675px){
                border-bottom: 1px solid #ccc;
            }
        }
    }
    &__img img{
        height: 65px;
    }
    &__subtitle{
        margin-top: 20px;
        font-size: 18px;
        line-height: 22px;
        text-transform: uppercase;
        @extend %roboto-regular;
        color: #fff;
    }
    &__descr{
        margin-top: 15px;
        font-size: 16px;
        @extend %roboto-regular;
        color: rgba(255, 255, 255, 0.6);
        line-height: 20px;
        max-width: 197px;
        @media screen and (max-width: 675px){
            max-width: 276px;
        }
    }
    &__btn{
        margin-top: 60px;
        text-align: center;
        & a{
            font-size: 20px;
            @extend %roboto-bold;
            text-transform: uppercase;
            padding: 20px 45px;
            border-radius: 3px;
            background-color: rgb(47, 154, 225);
            color: #fff;
            cursor: pointer;
            &:hover{
                border: 2px solid #fff;
                background-color: rgb(1, 99, 163);
            }
            @media screen and (max-width: 370px){
                padding: 15px 45px;
                font-size: 16px;
            }
        }
    }
}
