@import "vars";
@import "fonts";
@import "global";


.contacts{
    background-color: rgb(240, 240, 240);
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.3);
    padding-top: 60px;
    &__title{
        font-size: 32px;
        line-height: 48px;
        color: rgb(47, 59, 71);
        @media screen and (max-width: 600px){
            font-size: 24px;
            line-height: 40px;
            text-align: center;
        }
        @media screen and (max-width: 428px){
            font-size: 22px;
        }
    }
    &__tab{
        margin-top: 50px;
        overflow-x: scroll;
        background-color: #f1f1f1;
        display: flex;
        justify-content: space-between;
        padding-bottom: 20px;
        @media screen and (max-width: 528px){
            margin-top: 30px;
        }
        & button {
            background-color: inherit;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 10px;
            transition: 0.3s;
            font-size: 16px;
            line-height: 21px;
            color: rgb(47, 59, 71);
            text-transform: uppercase;
            min-width: 15%;
            display: flex;
            justify-content: center;
            align-items: center;
            @media screen and (max-width: 768px){
                min-width: 20%;
            }
            @media screen and (max-width: 564px){
                min-width: 33.5%;
                font-size: 12px;
                line-height: 12px;
            }
        }
        & button.active {
            border-radius: 3px;
            background-color: rgb(47, 154, 225);
            color: rgb(255, 255, 255);
        }
    }
    &__tabcontent {
        display: none;
        padding: 6px 12px;
        text-align: center;
        font-size: 16px;
        color: rgb(141, 141, 141);
        line-height: 22px;
        padding-bottom: 100px;
        border-top: 1px solid #ccc;
        @media screen and (max-width: 528px){
            font-size: 14px;
            line-height: 16px;
            padding-bottom: 50px;
        }
    }
}
