@import "vars";
@import "fonts";
@import "global";

.conditions {
    padding: 60px 0 100px;
    background-color: rgb(240, 240, 240);
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.3);
    @media screen and (max-width: 400px){
        padding: 30px 0 50px;
    }
    &__title{
        font-size: 36px;
        color: rgb(47, 59, 71);
        @extend %roboto-bold;
        line-height: 54px;
        margin-bottom: 30px;
        @media screen and (max-width: 675px){
            font-size: 28px;
            line-height: 40px;
        }
        @media screen and (max-width: 400px){
            font-size: 17px;
            line-height: 32px;
            margin-bottom: 15px;
        }
    }
    &__accordion {
        background-color: rgb(41, 138, 202);
        cursor: pointer;
        padding: 18px;
        width: 100%;
        text-align: left;
        border: none;
        outline: none;
        transition: 0.4s;
        font-size: 20px;
        color: #fff;
        text-transform: uppercase;
        position: relative;
        &:nth-child(1){
            background-color: lighten(rgb(45, 131, 187), 18.75%);
        }
        &:nth-child(2){
            background-color: lighten(rgb(45, 131, 187), 12.5%);
        }
        &:nth-child(3){
            background-color: lighten(rgb(45, 131, 187), 6.25%);
        }
        &:hover {
            background-color: rgb(31, 107, 157);
        }
        &:after {
            content: '';
            border: 10px solid transparent;
            right: 20px;
            bottom: 18px;
            border-top: 18px solid #fff;
            width: 20px;
            position: absolute;
            top: 21px;
            transition: .3s;
        }
        &.active {
            background-color: rgb(74, 90, 99);
            border-radius: 3px;
            position: relative;
            &:after {
                content: '';
                border: 10px solid transparent;
                right: 20px;
                bottom: 23px;
                border-top: 18px solid #758692;
                width: 20px;
                transform: rotate(180deg);
                position: absolute;
                top: 0;
            }
        }
    }
    &__accordion-block {
        padding: 0 50px;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        position: relative;
        margin-bottom: 5px;
        background-color: #fff;
        @media screen and (max-width: 400px){
            padding: 0 22px 0 30px;
        }
    }
    &__accordion-name {
        margin-top: 20px;
        font-size: 22px;
        line-height: 25px;
        color: rgb(47, 59, 71);
        text-transform: uppercase;
        position: relative;
        @extend %roboto-medium;
        @media screen and (max-width: 550px){
            font-size: 16px;
            line-height: 18px;
            margin-top: 10px;
        }
        &:before {
            content: '';
            position: absolute;
            border-radius: 50%;
            background-color: rgb(47, 154, 225);
            width: 13px;
            height: 13px;
            top: 20%;
            left: -3%;
            @media screen and (max-width: 675px){
                left: -5%;
                top: 15%;
            }
            @media screen and (max-width: 550px){
                left: -8%;
                top: 10%;
            }
            @media screen and (max-width: 400px){
                left: -8%;
                top: 6%;
            }
        }
    }
    &__accordion-descr {
        font-size: 16px;
        color: rgb(141, 141, 141);
        line-height: 21px;
        @extend %roboto-regular;
        margin: 10px 0 20px;
        @media screen and (max-width: 400px){
            margin: 5px 0 10px;
            font-size: 14px;
            line-height: 18px;
        }
    }
}



  