@import "vars";
@import "fonts";
@import "global";

.faq {
    padding: 60px 0 100px;
    background-color: rgb(240, 240, 240);
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.3);

    &__title {
        font-size: 36px;
        color: rgb(47, 59, 71);
        line-height: 54px;
        margin-bottom: 30px;

        @media screen and (max-width: 428px) {
            font-size: 24px;
            line-height: 40px;
            text-align: center;
        }
    }

    &__accordion-block:nth-child(odd) {
        &>.faq__accordion-question {
            background-color: rgb(115, 118, 121);

            &.active {
                background-color: rgb(240, 240, 240);
            }
        }
    }

    &__accordion-block:nth-child(n+2) {
        &>.faq__accordion-text {
            display: none;
        }
    }

    &__accordion-title {
        cursor: pointer;
        padding: 18px;
        width: 100%;
        text-align: left;
        border: none;
        outline: none;
        transition: 0.4s;
        font-size: 16px;
        line-height: 21px;
        color: #000;
        padding-left: 50px;
        background-color: #ababab;
        position: relative;

        @media screen and (max-width: 510px) {
            padding-bottom: 5px;
        }

        &:after {
            content: '';
            border: 10px solid transparent;
            right: 20px;
            bottom: 18px;
            border-top: 18px solid #fff;
            width: 20px;
            position: absolute;
            top: 21px;
            transition: .3s;

            @media screen and (max-width: 880px) {
                display: none;
            }
        }

        &:before {
            position: absolute;
            content: '+';
            padding: 0.1% 0.6%;
            transition: .4s;
            border-radius: 50%;
            color: #fff;
            background-color: rgb(47, 154, 225);
            left: 15px;
            top: 16px;

            @media screen and (max-width: 1100px) {
                padding: 0.1% 0.7%;
            }

            @media screen and (max-width: 990px) {
                padding: 0.1% 0.8%;
            }

            @media screen and (max-width: 835px) {
                padding: 0.1% 0.9%;
            }

            @media screen and (max-width: 700px) {
                padding: 0.1% 1%;
            }

            @media screen and (max-width: 590px) {
                padding: 0.05% 1.1%;
            }

            @media screen and (max-width: 510px) {
                padding: 0.05% 1.2%;
            }

            @media screen and (max-width: 467px) {
                padding: 0.05% 1.5%;
                top: 18%;
            }

            @media screen and (max-width: 375px) {
                padding: 0.05% 1.7%;
            }

            @media screen and (max-width: 332px) {
                padding: 0.05% 2%;
            }
        }
    }
    &__accordion-block.open > .faq__accordion-title{
        border-radius: 3px;
        background-color: #f0f0f0;
        position: relative;
        &:after {
            content: '';
            position: absolute;
            top: 0;
            width: 20px;
            border: 10px solid transparent;
            right: 20px;
            bottom: 23px;
            border-top: 18px solid #758692;
            transform: rotate(180deg);
            transition: .4s;
        }

        &:before {
            position: absolute;
            content: '–';
            padding: 0.1% 0.6%;
            transition: .4s;
            border-radius: 50%;
            color: #fff;
            background-color: rgb(217, 217, 217);
            left: 15px;
            top: 15px;

            @media screen and (max-width: 1100px) {
                padding: 0.1% 0.7%;
            }

            @media screen and (max-width: 990px) {
                padding: 0.1% 0.8%;
            }

            @media screen and (max-width: 835px) {
                padding: 0.1% 0.9%;
            }

            @media screen and (max-width: 700px) {
                padding: 0.1% 1%;
            }

            @media screen and (max-width: 590px) {
                padding: 0.05% 1.1%;
            }

            @media screen and (max-width: 510px) {
                padding: 0.05% 1.2%;
            }

            @media screen and (max-width: 467px) {
                padding: 0.05% 1.5%;
                top: 18%;
            }

            @media screen and (max-width: 375px) {
                padding: 0.05% 1.7%;
            }

            @media screen and (max-width: 332px) {
                padding: 0.05% 2%;
            }
        }
    }

    &__accordion-text {
        font-size: 16px;
        color: rgb(141, 141, 141);
        line-height: 22px;
        padding: 18px 18px 18px 50px;
    }
}