@import "vars";
@import "fonts";
@import "global";

.faq {
    padding: 60px 0 100px;
    background-color: rgb(240, 240, 240);
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.3);
    &__title{
        font-size: 36px;
        color: rgb(47, 59, 71);
        @extend %roboto-bold;
        line-height: 54px;
        margin-bottom: 30px;
    }
    &__accordion-question{
        cursor: pointer;
        padding: 18px;
        width: 100%;
        text-align: left;
        border: none;
        outline: none;
        transition: 0.4s;
        font-size: 16px;
        line-height: 21px;
        color: #000;    
        padding-left: 50px;
        background-color: #ababab;
        position: relative;
        &:nth-child(2n-1){
            background-color: #6a6a6a;
        }
        &:after {
            content: '';
            border: 10px solid transparent;
            right: 20px;
            bottom: 18px;
            border-top: 18px solid #fff;
            width: 20px;
            position: absolute;
            top: 21px;
            transition: .3s;
        }
        &:before{
            position: absolute;
            content: '+';
            padding: 0.1% 0.6%;
            transition: .4s;
            border-radius: 50%;
            color: #fff;
            background-color: rgb(47, 154, 225);
            left: 15px;
            top: 16px;
        }
        &.active {
            border-radius: 3px;
            background-color: #f0f0f0;
            position: relative;
            &:after {
                content: '';
                position: absolute;
                top: 0;
                width: 20px;
                border: 10px solid transparent;
                right: 20px;
                bottom: 23px;
                border-top: 18px solid #758692;
                transform: rotate(180deg);
                transition: .4s;
            }
            &:before {
                position: absolute;
                content: '–';
                padding: 0.1% 0.6%;
                transition: .4s;
                border-radius: 50%;
                color: #fff;
                background-color: rgb(47, 154, 225);
                left: 15px;
                top: 15px;
            }
        }
    }
    &__accordion-block {
        padding: 0 50px;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        position: relative;
        margin-bottom: 5px;
        &:before {
            content: '';
            position: absolute;
            border-radius: 50%;
            background-color: rgb(47, 154, 225);
            width: 13px;
            height: 13px;
            top: 20%;
            left: -3%;
        }
    }
    &__accordion-text{
        font-size: 16px;
        @extend %roboto-regular;
        color: rgb(141, 141, 141);
        line-height: 22px;
        padding: 20px 0;
    }
}
