@import "vars";
@import "fonts";
@import "global";

.text{
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.3);
    padding: 60px 0 100px;
    & h1{
        font-size: 32px;
        line-height: 48px;
        color: rgb(47, 59, 71);
        @extend %roboto-bold;
    }
    & article p{
        margin-top: 20px;
        font-size: 16px;
        @extend %roboto-regular;
        color: rgb(141, 141, 141);
        line-height: 22px;
    }
    & ul li{
        font-size: 16px;
        @extend %roboto-regular;
        color: rgb(141, 141, 141);
        line-height: 22px;
        margin-left: 4%;
        position: relative;
        &:before{
            content: '';
            position: absolute;
            border-radius: 50%;
            background-color: rgb(47, 154, 225);
            width: 9px;
            height: 9px;
            top: 22%;
            left: -2%;
        }
    }
    & ol{
        counter-reset: my-awesome-counter;
        & li{
            font-size: 16px;
            @extend %roboto-regular;
            color: rgb(141, 141, 141);
            line-height: 22px;
            counter-increment: my-awesome-counter;
            position: relative;
            &:before{
                position: absolute;
                content: counter(my-awesome-counter) '. ';
                top: -3%;
                left: -2%;
                color: rgb(47, 154, 225);
                @extend %roboto-bold;
                font-size: 16px;
                line-height: 22px;
            }
        }
    }
    & article h2{
        font-size: 22px;
        line-height: 33px;
        color: rgb(47, 59, 71);
        @extend %roboto-bold;
    }
    & article h3{
        font-size: 18px;
        line-height: 27px;
        color: rgb(47, 59, 71);
        @extend %roboto-bold;
    }
    & article span{
        font-size: 16px;
        line-height: 22px;
        color: rgb(0, 0, 0);
        font-style: italic;
        @extend %roboto-regular;
    }
}